<!-- <md-card>
  <md-card-header>
    <div md-card-avatar><img src="{{post.authoravatar}}" class="img-fluid"></div>
    <md-card-title><h3>{{post.title.rendered}}</h3></md-card-title>
    <md-card-subtitle> {{post.author}}, {{post.date | date}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{post.img}}" alt="Описание картинки поста" class="post-img">
  <md-card-content>
    <p>{{post.excerpt.rendered}}</p>
    <md-chip-list>
      <md-chip *ngFor="let tag of post.tags"> {{tag.tag}} </md-chip>      
    </md-chip-list>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button>Редактировать</button>
  </md-card-actions>
</md-card> -->
<!-- {{post | json}} -->
Post id: {{post.id}}