<md-card class="post" *ngFor="let post of posts">
  <md-card-header>
    <div md-card-avatar><img src="{{post.authoravatar}}" class="img-fluid"></div>
    <md-card-title><h3>{{post.postname}}</h3></md-card-title>
    <md-card-subtitle> {{post.author}}, {{post.date}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{post.img}}" alt="Описани картинки поста" class="post-img">
  <md-card-content>
    <p>{{post.postpreview}}</p>
    <md-chip-list>
        <md-chip *ngFor="let tag of posts.tags"> {{tag.tag}} </md-chip>      
      </md-chip-list>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button>Открыть</button>
    <a md-raised-button routerLink="/full-post">Link</a>
  </md-card-actions>
</md-card>